<h1>TODOs</h1>
<form action="/todo" method="POST">
    {% csrf_token %}
    {{form.title}}
    <input type="submit" name="Add Todo" > 
</form>

{% for todo in todos %}
    <div>
        <input type="checkbox" value="1"/>
        <label  class="strikethrough">{{ todo.title }}</label>
        <a href="{% url 'delete_todo' todo.id %}"><button>Delete</button></a>
        <a href="{% url 'update_todo' todo.id %}"><button>Update</button></a>
    </div>
{% empty %}
<h3> No todos to show</h3>
{% endfor %}
<a href="/">Back</a>